################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tests/DocEventAttendeeCalendar.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_DocEventAttendeeCalendar.Tests
/tests/DocEventAttendeeCalendar.Tests/bin/Debug/net8.0/DocEventAttendeeCalendar.Tests.dll
/tests/DocEventAttendeeCalendar.Tests/bin/Debug/net8.0/DocEventAttendeeCalendar.Tests.pdb
/tests/DocEventAttendeeCalendar.Tests/bin/Debug/net8.0/DocEventsAttendeeCalendar.dll
/tests/DocEventAttendeeCalendar.Tests/bin/Debug/net8.0/DocEventsAttendeeCalendar.exe
/tests/DocEventAttendeeCalendar.Tests/bin/Debug/net8.0/DocEventsAttendeeCalendar.pdb
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/ref/DocEventAttendeeCalendar.Tests.dll
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.AssemblyInfo.cs
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.AssemblyInfoInputs.cache
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.assets.cache
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.csproj.AssemblyReference.cache
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.csproj.CoreCompileInputs.cache
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.csproj.FileListAbsolute.txt
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.dll
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.GeneratedMSBuildEditorConfig.editorconfig
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.genruntimeconfig.cache
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.pdb
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.sourcelink.json
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/refint/DocEventAttendeeCalendar.Tests.dll
/tests/DocEventAttendeeCalendar.Tests/obj/DocEventAttendeeCalendar.Tests.csproj.nuget.dgspec.json
/tests/DocEventAttendeeCalendar.Tests/obj/project.assets.json
/tests/DocEventAttendeeCalendar.Tests/obj/project.nuget.cache
/tests/DocEventAttendeeCalendar.Tests/obj/DocEventAttendeeCalendar.Tests.csproj.nuget.dgspec.json
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.AssemblyInfo.cs
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.AssemblyInfoInputs.cache
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.assets.cache
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.csproj.AssemblyReference.cache
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.csproj.CoreCompileInputs.cache
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.csproj.FileListAbsolute.txt
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.dll
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.GeneratedMSBuildEditorConfig.editorconfig
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.genruntimeconfig.cache
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.pdb
/tests/DocEventAttendeeCalendar.Tests/obj/Debug/net8.0/DocEventAttendeeCalendar.Tests.sourcelink.json
/tests/DocEventAttendeeCalendar.Tests/obj/project.assets.json
/tests/DocEventAttendeeCalendar.Tests/obj/project.nuget.cache
